
<div class="form">

<div class="row btn-back">
  <%= link_to "Back", foods_path %>
</div>

<div>
  <h2 class="head-title">New food</h2>
  <%= render "form", food: @food %>
</div>

<div class="bg-plate-reversed"></div>

</div>